URxvt*font: xft:Source Code Pro:size=12:antialias=true:hinting=true
~URxvt*font: xft:Fira Mono:size=12:style=medium
~URxvt*letterSpace: -1
URxvt.transparent: true
URxvt.shading: 40
URxvt.scrollBar: false

~ Gotham Terminal Colors

*.foreground:   #98d1ce
*.background:   #0a0f14
*.cursorColor:  #98d1ce

*.color0:       #0a0f14
*.color8:       #10151b

*.color1:       #c33027
*.color9:       #d26939

*.color2:       #26a98b
*.color10:       #42c0fb

*.color3:       #edb54b
*.color11:      #245361

*.color4:       #195465
*.color12:       #98ff98

*.color5:       #4e5165
*.color13:      #888ba5

*.color6:       #33859d
*.color14:      #599caa

*.color7:       #98d1ce
*.color15:      #d3ebe9

~ Set DPI
Xft.dpi: 235

! ------------------------------------------------------------------------------
! ROFI Color theme
! (opacity is broken on rofi-1.3.1 or newer)
! ------------------------------------------------------------------------------
rofi.color-window: argb:c82d303b, #7c8389, #1d1f21
rofi.color-normal: argb:31d1f21, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
rofi.color-urgent: argb:2c1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9
rofi.color-active: argb:2c1d1f21, #65acff, argb:e44b5160, #4491ed, #f9f9f9
rofi.width: 60
rofi.lines: 5
rofi.columns: 2
rofi.font: Source Code Pro 26 
rofi.bw: 0
rofi.padding: 400
rofi.eh: 1

